<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="common :: meta_header('register',~{::link},~{::script})"></head>
<body>
<div th:insert="~{component/_header}"></div>
<form
        action="#"
        method="post"
        th:action="@{/register}"
        th:object="${request}"
        enctype="multipart/form-data"
        class="container">
    <div class="mb-3">
        <label class="form-label" for="title">タイトル</label>
        <input class="form-control" id="title" type="text" th:field="${request.title}"/>
        <!--        <div th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></div>-->
    </div>
    <div class="mb-3">
        <label class="form-label" for="content">内容</label>
        <textarea
                class="form-control"
                style="height:200px"
                id="content"
                name="content"
                th:field="${request.content}"></textarea>
        <!--        <div th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></div>-->
    </div>
    <div class="mb-3">
        <label class="form-label" for="image">画像</label>
        <input
                id="image"
                type="file"
                th:field="${request.imageDataList}"
                accept="image/jpeg, image/png"
                multiple>
        <!--        <div th:errors="*{imageDataList}" th:if="${#fields.hasErrors('imageDataList')}"></div>-->
    </div>
    <div id="image-preview"></div>
    <div>
        <input type="submit" value="送信"/>
    </div>
</form>
</body>

<script>
    const previewElement = document.getElementById('image-preview');

    function previewImage(file) {

        const reader = new FileReader();

        reader.onload = function (e) {
            const img = document.createElement("img");
            img.src = e.target.result;
            img.alt = "画像プレビュー"
            previewElement.appendChild(img);
        }

        reader.readAsDataURL(file);
    }

    function deleteAllPreviewImage() {
        while (previewElement.firstChild) {
            previewElement.removeChild(previewElement.firstChild)
        }
    }

    const imageInput = document.getElementById("image")
    imageInput.addEventListener("change", (event) => {
        deleteAllPreviewImage()
        Array.from(event.target.files).forEach((file) => {
            previewImage(file)
        })
    })
</script>
</html>
